@{
    ViewData["Title"] = "Home Page";
}
@model List<ASP.net_coreAndMVC.Models.Product>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Listproduct">Danh sách sản phẩm</a>
</div>
